@import "tailwindcss";

html, body{
  width: 100vw;
  background-color: rgb(255, 255, 255);
  color: white;
   overflow-x: hidden; /* ← stops horizontal scroll from blobs */
  margin: 0;
}

@theme {
  --color-white-50: #ffffff80;
  --color-blue-100: #2d2d38;
}

@layer utilities{
  .flex-center {
    @apply flex justify-center items-center;
  }
}